body{
    background-color: #010610;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
}
#sectionImg{
    background-image: url(/asset/img/egusi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
#asideDashboard{
        background-color: #F24E1E; 
   color: white;
   font-family: "inter",sans-serif;
}