body{
    background-color: #010610;
    display: flex;
    flex-direction: column;
    #fire-icon{
     color: #F24E1E; 
}
#Drink-icon{
     color: #F24E1E; 
}
#Snacks-icon{
     color: #F24E1E; 
}
#food-and-drink-box{
    background-color: #010610;
}
#food{
    background-image: url(/asset/img/egusi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#foods{
    background-image: url(/asset/img/rice1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#foodss{
    background-image: url(/asset/img/Jumbo-Chicken.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#foodsss{
    background-image: url(/asset/img/chicken-&-chips.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#foodssss{
    background-image: url(/asset/img/okro-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#foodsssss{
    background-image: url(/asset/img/ogbono.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#foodssssss{
    background-image: url(/asset/img/Jollof-rice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#Drink1{
    background-image: url(/asset/img/Coca-cola.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#Drink2{
    background-image: url(/asset/img/Pepsi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#textBox{
           background-color: #F24E1E; 
   color: white;
   font-family: "inter",sans-serif; 
}
    justify-content: center;
    align-items: center;
    
}
#sectionImg{
    background-image: url(/asset/img/buterdd.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}
#asideDashboard{
        background-color: #F24E1E; 
   color: white;
   font-family: "inter",sans-serif;
}
