body{
    background-color: #010610;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
}

#asideDashboard{
        background-color: #F24E1E; 
   color: white;
   font-family: "inter",sans-serif;
}
.foodScroll{
     background-color: #F24E1E; 
}
.foodBg{
    background-image: url(/asset/img/egusi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.foodBg1{
    background-image: url(/asset/img/rice1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}